doctype html
html
  head
    title Latino
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    script(src="/js/bundle.js")
    link(rel="stylesheet", href="/css/layout.css")
  body
    block content
